.about-image {
    width: 50%;
    margin-left: auto;
    height: 300px;
}
li {
        color: black;
}

header {
    background-color: #40869b;
    height: 60vh;
}

.about-content {
    display: flex;
    margin-top: 150px;
}

.about-content p {
    margin-top: 70px;
}

@media only screen and (max-width: 600px) {
    .about-content{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }

    .about-image{
        width: 100%;
    }
}